name: Build EXE

on: [push, workflow_dispatch] # 当你提交代码或手动点击时触发

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install dependencies
        run: |
          pip install opencv-python PyQt5 numpy pyinstaller
          
      - name: Build with PyInstaller
        run: |
          pyinstaller --noconsole --onefile --name "Myopic_Sim" app_wgc.py
          
      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: Myopic-Defocus-EXE
          path: dist/Myopic_Sim.exe
